@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsla(277, 64%, 61%, 0.5);
    --white: hsl(0, 0%, 100%);
    --main: 'Inter', sans-serif;
    --primary: 'Lexend Deca', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: var(--Very-dark-blue);
    color: var(--white);
    font-family: var(--main);
    font-weight: 400;
    font-size: 15px;
    display: grid;
    place-items: center;
}
main{
    max-width: 1440px;
    display: grid;
    place-items: center;
    height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 9px;
    overflow: hidden;
}
.info{
    background-color: var(--Dark-desaturated-blue);
    width: 540px;
}
.content{
    padding: 5.1em;
}
.text{
    margin: 2em 0 4em 0;
    line-height: 1.8;
    opacity: 0.75;
}
.title{
    font-family: var(--primary);
}
.title span{
    color: var(--Soft-violet);
}
.numbers{
    display: flex;
    justify-content: space-between;
}
.tile h2{
    font-weight: 700;
}
.tile p{
    font-weight: 400;
    opacity: 0.75;
}
.img img{
    display: block;
    width: 100%;
    height: 100%;
}
.img{
    position: relative;
}
.img::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--Soft-violet);
}
